body {
  margin-top: 10%;
  text-align: center;
  background-image: url("table.png");
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  font-size: larger;
  color: white;
}

h1 {
  color: goldenrod;
}

button {
  background-color: goldenrod;
  color: #016f32;
  font-size: medium;
  font-weight: bold;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  display: block;
  margin: 4px auto 4px auto;
}

#message-el {
  font-style: italic;
}
